.about-us {
  border-top: 1px solid $primary-color;
  margin-top: 15px;
  padding-top: 15px;
  .portrait {
    max-width: 200px;
    margin: 10px auto;
    .proposal-photo {
      border: 1px solid $primary-color;
      padding: 10px;
    }
  }
  .proposal-beach {
    height: 200px;
    overflow: hidden;
    img {
      margin: -25%;
    }
  }
}

@media only screen
and (max-width : 375px) {
  .about-us {
    .proposal-photo {
      margin: 0;
    }
    .proposal-beach {
      height: 150px;
      img { margin: -17%; }
    }
  }

}
