footer {
  background: rgba($primary-color-light, 0.5);
  text-align: center;
  height: 50px;
  p {
    line-height: 50px;
    vertical-align: middle;
    margin-bottom: 0;
  }
  p:first-child {
    text-align: left;
  }
  p:last-child {
    text-align: right;
  }
}
