<div class="section">
    <div>
        <h2>Accommodation</h2>
    </div>

    <p>Oxford gets very busy during the summer months. And unfortunately, the British Grand Prix is taking place at Silverstone during that weekend, making finding accommodation slightly more challenging.</p>
    <p><strong>If you have not booked it yet, don´t wait.</strong></p>

    <p>Hotels can be quite expensive in and around Oxford and get booked quickly. We found some availability here:</p>
    <ul>
        <li><a href="https://www.premierinn.com/gb/en/hotels/england/oxfordshire/oxford/oxford-cowley.html" target="_blank">Premier Inn</a></li>
        <li><a href="https://mercureoxfordhawkwellhouse.com" target="_blank">Mercure Oxford Hawkwell House Hotel</a></li>
        <li><a href="https://www.airbnb.co.uk/s/Oxford/homes" target="_blank">AirBnB</a> is also a good option for a night or two in Oxford</li>
    </ul>

    <div>
        <h2>Alojamiento</h2>
    </div>

    <p>Oxford es una cuidad turística y en los meses de verano es complicado encontrar alojamiento. Desafortunadamente, la boda ha coincidido con el Gran Prix que tiene lugar a pocos kilómetros de Oxford (Silverstone).</p>
    <p><strong>Si no has reservado tu alojamiento, recomendamos que no esperes más.</strong></p>

    <p>Hoteles con disponibilidad:</p>
    <ul>
        <li><a href="https://www.premierinn.com/gb/en/hotels/england/oxfordshire/oxford/oxford-cowley.html" target="_blank">Premier Inn</a></li>
        <li><a href="https://mercureoxfordhawkwellhouse.com" target="_blank">Mercure Oxford Hawkwell House Hotel</a></li>
        <li><a href="https://www.airbnb.co.uk/s/Oxford/homes" target="_blank">AirBnB</a> es una buena opción para quedarse en Oxford</li>
    </ul>
</div>
