<h2>Gifts</h2>

<p>The most important gift to us is that you shared our day with us, but should you wish to give a present then a contribution to our honeymoon 🍯 🌝 would be greatly appreciated 🏖 🐘 🦁</p>

<p>Account No: 21 54 45 06 | Sort Code: 56-00-03 | Name: C Barrett</p>

<p>IBAN: GB81NWBK56000321544506</p>

<h3>Our Honeymoon</h3>

<p>This is the first 3 week holiday we are both taking in 10 years, so as you can imagine we are VERY excited about it.</p>

<p>We have gone all out, and booked a weeks safari 🦏 in Kenya 🇰🇪, starting in Nairobi on the 18th August, the safari finishes in Mombassa on the 25th August. Sam has even got a new camera lens with extra zoom capability (gifted by Susie & Douglas), for those extra special close-up shots of lions 🦁 eating zebras 🦓.</p>

<p>We are then flying ✈️ to Zanzibar, Tanzania 🇹🇿, where we will be spending 2 weeks at <a href="https://www.thezhotel.com/" target="_blank">The Z Hotel</a> on <a href="https://www.tripadvisor.co.uk/Attraction_Review-g616016-d8038472-Reviews-Nungwi_Beach-Nungwi_Zanzibar_Island_Zanzibar_Archipelago.html?m=19905" target="_blank">Nungwi Beach</a>. It is often rated in the top 10 beaches in the world, white sand and turqoise sea ☺️.</p>
