<div class="introduction">
  <div>
    <h2>Our Story</h2>
    <h3>🤵  👰</h3>
  </div>

  <p>We met in September 2019 and after a couple of great and somewhat unusual dates which involved an impromptu trip to Munich, a session of table tennis and a trip to the West coast of Scotland, we decided to spend lockdown together.</p>
  <p>There was a trend there; many more adventures after around UK, Italy and Spain, it was Japan the chosen destination to make it official!</p>

  <div>
    <p>Nuestra historia</p>
    <h3>🤵  👰</h3>
  </div>

  <p>Nos conocimos en septiembre del 2019 y después de varias citas un tanto inusuales que incluyeron un viaje a Munich, una sesión de pin-pon y un viaje a la costa Oeste de Escocia, decidimos pasar el confinamiento juntos.</p>
  <p>Muchas más aventuras alrededor de Reino Unido, Italia y España, fue en Japón donde decidimos hacerlo oficial! </p>
</div>
