<div class="section">
    <div>
        <h2>Wedding Menu</h2>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdqUklBuZetS7YUMLduqM8DnxKm3V_k9jpJHGVaRBPTzoCR6w/viewform?usp=header " target="_blank" rel="noopener noreferrer">Please let us know your menu choices</a></p>
    </div>

    <ol>
        <li>Starter</li>
        <li>Option 1: Chicken thighs, shaved fennel, capers, harissa, black olive, white balsamic, parsley</li>
        <li>Option 2: Charred mackerel fillet, Jersey royals, padrón pepper, spring onion, leek ash emulsion</li>

        <li>Main</li>
        <li>Option 1: Hake fillet, British-grown lentils, baby leeks, slow-roast cherry tomato, Romesco sauce</li>
        <li>Option 2: Slow-braised lamb shoulder, grilled tender stem, crushed peas, potatoes, salsa Verde, preserved lemon purée</li>

        <li>Dessert</li>
        <li>Chilled chocolate tart, salted caramel, toasted hazelnut, honeycomb, red vein sorrel (vg)</li>
    </ol>

    <div>
        <p>Menú de boda</p>
    </div>
</div>
