<div class="section">
    <div>
        <h2>Wedding Menu</h2>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdqUklBuZetS7YUMLduqM8DnxKm3V_k9jpJHGVaRBPTzoCR6w/viewform?usp=header " target="_blank" rel="noopener noreferrer">Please let us know your menu choices</a></p>
    </div>

    <ul>
        <li>Starter</li>
        <li>Option 1: Chicken thighs, shaved fennel, capers, harissa, black olive, white balsamic, parsley</li>
        <li>Option 2: Charred mackerel fillet, Jersey royals, padrón pepper, spring onion, leek ash emulsion</li>

        <li>Main</li>
        <li>Option 1: Hake fillet, British-grown lentils, baby leeks, slow-roast cherry tomato, Romesco sauce</li>
        <li>Option 2: Slow-braised lamb shoulder, grilled tender stem, crushed peas, potatoes, salsa Verde, preserved lemon purée</li>

        <li>Dessert</li>
        <li>Chilled chocolate tart, salted caramel, toasted hazelnut, honeycomb, red vein sorrel (vg)</li>
    </ul>

    <div>
        <p>Menú de boda</p>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdqUklBuZetS7YUMLduqM8DnxKm3V_k9jpJHGVaRBPTzoCR6w/viewform?usp=header " target="_blank" rel="noopener noreferrer">Please let us know your menu choices</a></p>
    </div>

    <ul>
        <li>Entrantes</li>
        <li>Opción 1: muslos de pollo en ensalada con aceituna negra y balsámico</li>
        <li>Opción 2: filete de caballa asada, patatas, pimiento del padrón y salsa de puerro</li>

        <li>Plato principa</li>
        <li>Opción 1: merluza con lentejas y salsa romesco</li>
        <li>Opción 1: merluza con lentejas y salsa romesco Opción 2: cordero asado, brócoli a la parrilla, guisantes, patatas y salsa verde</li>

        <li>Postre</li>
        <li>tartaleta de chocolate con caramelo y avellanas tostadas</li>
    </ul>
</div>
