<div class="photos">
  <h2>Photos</h2>

<h3>🌟 ⭐️ Upload your own photos ⭐️ 🌟</h3>

  <p>If you took some photos on the day, we would love to see what you have.</p>

  <p>We will also upload our own photos taken by the professional photographers <a href="http://tubofjelly.co.uk/" target="_blank">Tub Of Jelly</a>, so take a look here late September if you wish to get your own copies.</p>

  <div class="dropbox">
    <a href="https://www.dropbox.com/sh/r6hto4kousd3wvf/AACRYDC4z2_xp1lknq2EbKOHa?dl=0" target="_blank">
      <i class="fas fa-upload"></i>
      view 📷
    </a><br>
    <a href="https://www.dropbox.com/request/8IRO6m7DSCHPhthYwWNN" target="_blank">
      <i class="fas fa-download"></i>
      upload 🤳
    </a>
  </div>

</div>
