<div class="section">
    <div>
        <h2>Schedule</h2>
    </div>

    <p>5.30 Guest arrive at the Museum (there’s an opportunity to visit some of the galleries)</p>
    <p>6.00 Ceremony starts</p>
    <p>6.30 Time for some photos</p>
    <p>7.00 Canapes at the Ashmolean’s rooftop restaurant*</p>
    <p>7.45 Speeches and dinner</p>
    <p>9.45 Dancing</p>
    <p>00.45 Carriages</p>
    <br>
    <p><em>*There is a lift for guests</em></p>

    <div>
        <h2>Programa</h2>
    </div>

    <p>5.30 Llegada de los invitados al museo</p>
    <p>6.00 Ceremonia</p>
    <p>6.30 Fotos</p>
    <p>7.00 Canapés en la terraza de la azotea*</p>
    <p>7.45 Discursos y cena</p>
    <p>9.45 Baile </p>
    <p>00.45 Salida</p>
    <br>
    <p><em>*Hay ascensor disponible para los invitados</em></p>
</div>
