<div class="introduction">
    <div>
        <h2>Things to do</h2>
    </div>

    <p><a href="https://www.ox.ac.uk/visitors/visiting-oxford/visiting-the-colleges">Visit a college</a> (fee): there are 36 colleges, some of the most famous ones are: <a href="https://www.chch.ox.ac.uk/visit">Christ Church</a> (for those fans of Harry Potter), <a href="https://www.magd.ox.ac.uk/visiting-magdalen-college/">Magdalen College</a> (and its Deer Park), <a href="https://www.queens.ox.ac.uk/visiting-the-college/">Queens College</a>, <a href="https://www.balliol.ox.ac.uk/visit-balliol">Balliol</a> or <a href="https://www.asc.ox.ac.uk/visiting-college-0">All Souls</a>.</p>
    <p>Visit the <a href="https://www.botanic-garden.ox.ac.uk/visit-garden">botanic garden</a> (fee)</p>
    <p>Visit the <a href="https://www.ashmolean.org/">Ashmolean Museum</a> during normal opening hours (you will see some of it during the wedding) (free)</p>
    <p>Visit the Museum of <a href="https://www.nhm.ac.uk/">Natural History</a> (free)</p>
    <p>Famous local pubs: <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g186361-d24988105-Reviews-Lamb_Flag_Oxford-Oxford_Oxfordshire_England.html">Lamb and Flag</a> (frequented by the Inklins, a literature discussion group that included J. R. R. Tolkien and C. S. Lewis), <a href="https://www.kingsarmsoxford.co.uk/">The Kings Arms</a>, <a href="https://www.greeneking.co.uk/pubs/oxfordshire/turf-tavern">The Turf Tavern</a></p>
    <p>If you want a pub visit on your way to Oxford or on your way out (with parking), we recommend <a href="https://www.thetroutoxford.co.uk">The Trout Inn</a>, <a href="https://the-perch.co.uk/">The Perch</a> or the <a href="https://www.fishesoxford.co.uk/">Fishes</a> (booking recommended)</p>

    <div>
        <h2>Qué visitar en Oxford</h2>
    </div>

    <p><a href="https://www.ox.ac.uk/visitors/visiting-oxford/visiting-the-colleges">Facultades (o colleges) (hay que pagar entrada)</a>: hay 36 colleges, algunos de los más famosos so <a href="https://www.chch.ox.ac.uk/visit">Christ Church</a> (donde se rodó Harry Potter), <a href="https://www.magd.ox.ac.uk/visiting-magdalen-college/">Magdalen College</a> (tiene un parque con ciervos), <a href="https://www.queens.ox.ac.uk/visiting-the-college/">Queens College</a>, <a href="https://www.balliol.ox.ac.uk/visit-balliol">Balliol</a> or <a href="https://www.asc.ox.ac.uk/visiting-college-0">All Souls</a>.</p>
    <p>Visit the <a href="https://www.botanic-garden.ox.ac.uk/visit-garden">botanic garden</a> (hay que pagar entrada)</p>
    <p>El museo <a href="https://www.ashmolean.org/">Ashmolean Museum</a> durante el horario de visita (podréis ver partes del museo durante la boda) (gratis</p>
    <p><a href="https://www.nhm.ac.uk/">Museo de Historia Natural</a> (gratis)</p>
    <p>Pubs famosos en Oxford: <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g186361-d24988105-Reviews-Lamb_Flag_Oxford-Oxford_Oxfordshire_England.html">Lamb and Flag</a> (frequentado por los Inklins un grupo que se reunía para discutir literatura, J. R. R. Tolkien y C. S. Lewis), <a href="https://www.kingsarmsoxford.co.uk/">The Kings Arms</a>, <a href="https://www.greeneking.co.uk/pubs/oxfordshire/turf-tavern">The Turf Tavern</a></p>
    <p>Si teneís coche y queréis visitar un pub a las afueras de Oxford, los más recomendables son <a href="https://www.thetroutoxford.co.uk">The Trout Inn</a>, <a href="https://the-perch.co.uk/">The Perch</a> or the <a href="https://www.fishesoxford.co.uk/">Fishes</a> (reservad con tiempo)</p>
</div>
